//-- Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import '../node_modules/bootstrap/scss/functions';

//-- Include any default variable overrides here

$primary: #510092;
$secondary: #ffd824;
// $text-muted: tint-color($primary, 40%);

// $body-color: $primary;
$font-family-base: 'Dosis', sans-serif;
$font-size-base: 1.3rem;
$line-height-base: 1.75;

// Navbar overrides
$navbar-nav-link-padding-x: 1rem;
// $navbar-light-color: rgba($primary, 0.55);
// $navbar-light-hover-color: rgba($primary, 0.8);
// $navbar-light-active-color: rgba($primary, 0.9);

$border-radius: 0.8rem;
// $btn-border-width: 3px;
$btn-border-radius: 0.7rem;
$btn-border-radius-lg: 0.9rem;
// $btn-border-radius-sm: 0.35rem;

$form-floating-input-padding-t: 1.1rem;
$form-floating-label-transform: scale(0.65) translateY(-0.5rem) translateX(0.4rem);

//-- Include remainder of required Bootstrap stylesheets
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

$form-floating-height: add(3rem, $input-height-border);
// $navbar-padding-y: $spacer * 0.6;

//-- Include any optional Bootstrap components as you like
@import '../node_modules/bootstrap/scss/bootstrap';

//-- Add additional custom code here

#intro {
	// min-height: 500px;
	// height: 90vh;
	// width: 100%;
	// padding-top: 56.25%;
}

.home-section {
	padding-top: 12rem;
	padding-bottom: 12rem;
}

// Form Labels
.form-floating > label {
	padding: 0.5rem 0.75rem;
}
